@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.HotelCategoryListContainer {
  margin: $space-5 0;

  @include lg {
    margin: $space-3 $space-0;
  }

  @include md {
    margin: $space-2 $space-0;
  }

  @include sm {
    margin: $space-0 0;
  }

  .Header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
      margin: $space-0;
      margin-left: $space-5;

      @include lg {
        margin-left: $space-3;
      }

      @include sm {
        margin: $space-0;
      }
    }

    h4 {
      margin-right: $space-0;
    }

    @include sm {
      text-align: center;
    }

    .ArrowsContainer {
      display: flex;
      align-self: center;
      color: $color-blue;
      margin: 0 $space-5;

      @include lg {
        margin: $space-2;
      }

      @include sm {
        margin: $space-0;
      }
    }
  }

  .HotelCategoryList {
    display: flex;
    margin: 0 $space-3;

    @include lg {
      margin: $space-2;
    }
    @include sm {
      margin: $space-0;
    }
  }
}
