@import "../../assets/scss/variables";

.ArrowButton {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: $color-light;
  cursor: pointer;
  padding: $space-0 $space-1;
  box-shadow: $shadow-1;

  img {
    height: 0.8rem;
  }
}

.ArrowButton:hover {
  background-color: $color-grey;
}
