@import "../../assets/scss/variables";

.ArrowButton {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: $color-light;
  cursor: pointer;
  padding: 0 $space-1;

  img {
    height: 1rem;
  }
}

.ArrowButton:hover {
  background-color: $color-grey;
}
